@use "../../style/style" as *;

.wrapper {
  width: 100%;
  form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;

    #institution {
      grid-column: 1 / span 2;
      grid-row: 1 / span 1;
    }
    #department {
      grid-column: 1 / span 2;
      grid-row: 2 / span 1;
    }
    #degreeType {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    #city {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    #start {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }
    #end {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      grid-column: 1 / span 2;
      grid-row: 5 / span 1;
    }
  }
}
