@use "../../style/style" as *;

.input {
  fieldset {
    border: none;
  }
  display: none;
}

.profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px dashed $global__light-grey;
  border-radius: 0.5rem;
  max-width: 400px;
  width: 400px;
  height: 200px;

  &:hover {
    border: 2px dashed $global__primary-text;
  }

  button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;

    img {
      width: 120px;
    }

    span {
      font-weight: 800;
    }
  }
}

.profile.uploaded {
  background-color: rgba(0, 0, 0, 0.829);
}

.wrapper {
  position: relative;

  .placement {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}
