@use "../../style/style" as *;

.wrapper {
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.dialog {
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.textfield {
  width: 100%;
  height: 2rem;
  input {
    padding: 0.3rem;
  }
}

.extern {
  width: 100%;
  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
}

// .input {
//   fieldset {
//     border: none;
//   }
//   display: none;
// }

// button.profile {
//   display: flex;
//   flex-flow: column nowrap;
//   justify-content: center;
//   align-items: center;
//   gap: 1rem;
//   border: 2px dashed $global__light-grey;
//   max-width: 400px;
//   width: 400px;
//   height: 200px;

//   &:hover {
//     border: 2px dashed $global__primary-text;
//   }

//   img {
//     width: 120px;
//   }

//   span {
//     font-weight: 800;
//   }
// }
