@use "./style/style" as *;
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gugi&family=Poppins:wght@300;400;700&family=Ubuntu:wght@300;500;700&display=swap");

:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: $global__primary-text;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: $global__main-background;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
