@use "../../style/style" as *;

.wrapper {
  width: 600px;
  background-color: $global__accordion-background;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: $global__secondary-text;
  background-color: $global__heading-background;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 1s ease-in-out;

  button {
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
    background-color: $global__main-background;
    padding: 0.8rem;
  }

  svg {
    scale: 1.7;
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
  }
}

.title {
}

.content {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.open {
  .heading {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    transition: all 0.1s ease-in-out;
  }

  svg {
    transform: rotate(0deg);
  }

  .content {
    height: 100%;
    padding: 1rem;
  }
}

.hidden {
  height: 0;
  padding: 0;
}
