@use "../../style/style" as *;

.wrapper {
  width: 100%;
}

.personal {
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, auto);
    gap: 1rem;

    #firstName {
      grid-column: 1 / span 3;
      grid-row: 1 / span 1;
    }
    #lastName {
      grid-column: 1 / span 3;
      grid-row: 2 / span 1;
    }
    #photo {
      grid-column: 4 / span 1;
      grid-row: 1 / span 2;
    }
    #email {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
    }
    #phone {
      grid-column: 3 / span 2;
      grid-row: 3 / span 1;
    }
    #position {
      grid-column: 1 / span 4;
      grid-row: 4 / span 1;
    }
    #country {
      grid-column: 1 / span 2;
      grid-row: 5 / span 1;
    }
    #city {
      grid-column: 3 / span 2;
      grid-row: 5 / span 1;
    }
    #portfolio {
      grid-column: 1 / span 2;
      grid-row: 6 / span 1;
    }
    .contact {
      grid-column: 1 / span 4;
      grid-row: 7 / span 1;
      position: relative;
    }
    .contact::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $global__primary-text;
    }
    #linkedIn {
      grid-column: 1 / span 2;
      grid-row: 8 / span 1;
    }
    #github {
      grid-column: 3 / span 2;
      grid-row: 8 / span 1;
    }
    .description {
      grid-column: 1 / span 4;
      grid-row: 9 / span 1;
      position: relative;
    }
    .description::after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $global__primary-text;
    }
    #description {
      grid-column: 1 / span 4;
      grid-row: 10 / span 3;
    }
    .control {
      display: flex;
      justify-items: space-between;
      align-items: center;
      gap: 0.5rem;
      grid-column: 1 / span 4;
      grid-row: 13 / span 1;
    }
  }
}

.education {
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem;

    #institution {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
    #department {
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
    }
    #degreeType {
      grid-column: 1 / span 2;
      grid-row: 3 / span 1;
    }
    #city {
      grid-column: 3 / span 2;
      grid-row: 3 / span 1;
    }
    #startMonth {
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }
    #startYear {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }
    #endMonth {
      grid-column: 3 / span 1;
      grid-row: 4 / span 1;
    }
    #endYear {
      grid-column: 4 / span 1;
      grid-row: 4 / span 1;
    }
    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      grid-column: 1 / span 4;
      grid-row: 5 / span 1;
    }
  }
}

.work {
  form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 1rem;

    #employer {
      grid-column: 1 / span 4;
      grid-row: 1 / span 1;
    }
    #title {
      grid-column: 1 / span 4;
      grid-row: 2 / span 1;
    }
    #startMonth {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
    #startYear {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
    }
    #endMonth {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
    }
    #endYear {
      grid-column: 4 / span 1;
      grid-row: 3 / span 1;
    }
    #description {
      grid-column: 1 / span 4;
      grid-row: 4 / span 2;
    }
    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      grid-column: 1 / span 4;
      grid-row: 6 / span 1;
    }
  }
}
