.wrapper {
  form {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(13, auto);

    #firstName {
      grid-column: 1 span / 3;
      grid-row: 1 span / 1;
    }
    #lastName {
      grid-column: 1 span / 3;
      grid-row: 2 span / 1;
    }
    #photo {
      grid-column: 4 span / 1;
      grid-row: 1 span / 2;
    }
    #email {
      grid-column: 1 span / 2;
      grid-row: 3 span / 1;
    }
    #phone {
      grid-column: 3 span / 2;
      grid-row: 3 span / 1;
    }
    #position {
      grid-column: 1 span / 4;
      grid-row: 4 span / 1;
    }
    #country {
      grid-column: 1 span / 2;
      grid-row: 5 span / 1;
    }
    #city {
      grid-column: 3 span / 2;
      grid-row: 5 span / 1;
    }
    #portfolio {
      grid-column: 1 span / 2;
      grid-row: 6 span / 1;
    }
    .contact {
      grid-column: 1 span / 4;
      grid-row: 7 span / 1;
    }
    #linkedIn {
      grid-column: 1 span / 2;
      grid-row: 8 span / 1;
    }
    #github {
      grid-column: 3 span / 2;
      grid-row: 8 span / 1;
    }
    .description {
      grid-column: 1 span / 4;
      grid-row: 9 span / 1;
    }
    #description {
      grid-column: 1 span / 4;
      grid-row: 10 span / 3;
    }
    .edit {
      grid-column: 2 span / 2;
      grid-row: 13 span / 1;
    }
  }
}
